/*
* @Author: zhengquan
* @Date:   2018-03-18 16:32:52
* @Last Modified by:   zhengquan
* @Last Modified time: 2018-03-18 16:33:39
*/
.page-header-right{
	position: absolute;
	right:15px;
	top:12px;
}
.swal-text {
	color:#eee;
}