/*
* @Author: zhengquan
* @Date:   2018-03-20 23:47:49
* @Last Modified by:   zhengquan
* @Last Modified time: 2018-03-20 23:59:31
*/
.p-img{
	display:block;
	width: 80px;
	height: 80px;
}
.btn-send-goods{
	margin-left: 10px;
}